.profile {
  max-width: 400px;
  margin: 40px auto;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

@media (min-width: 480px) {
  .profile {
    max-width: 450px;
  }
}

/* Tablet (768px+) */
@media (min-width: 768px) {
  .profile {
    max-width: 600px;
  }
}

/* Laptop (1024px+) */
@media (min-width: 1024px) {
  .profile {
    max-width: 900px;
  }
}

/* Desktop besar (1440px+) */
@media (min-width: 1440px) {
  .profile {
    max-width: 1200px;
  }
}


/* Avatar lingkaran */
.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(135deg, #f6d365, #fda085);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.emoji {
  font-size: 3rem;
  animation: sway 3s ease-in-out infinite;
}

@keyframes sway {
  0%, 100% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
}

.username {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

/* Reset PIN section */
.reset-section h2 {
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #555;
}

.pin-input {
  background: #f7f7f7;
  color: black;
  width: 80%;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  outline: none;
  transition: all 0.3s;
}

.pin-input:focus {
  border-color: #f6d365;
  box-shadow: 0 0 8px rgba(246, 211, 101, 0.5);
}

.reset-btn {
  background: linear-gradient(135deg, #155E75, #40adc6);
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.reset-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* Message */
.message {
  margin-top: 10px;
  font-weight: 500;
}

.message.error {
  color: #f44336;
}

.message.success {
  color: #4caf50;
}

.pin-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.pin-wrapper input {
  width: 100%;
  padding-right: 2.5rem; /* ruang untuk icon mata */
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.eye-icon {
  position: absolute;
  right: 0.75rem;
  /* top: 1rem; */
  bottom: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 1.1rem;
}

.eye-icon:hover {
  color: #000;
}

