.request {
  max-width: 400px;
  margin: 40px auto;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background: #fdfdfd;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.friendly-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

/* Step Card */
.step-card {
  background: #fff;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 20px;
  text-align: center;
}

.step-card h3 {
  margin-bottom: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #555;
}

.note {
  font-size: 0.95rem;
  margin-bottom: 10px;
  color: #777;
}

/* Tab header */
.tab-header {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tab-header button {
  flex: 1;
  padding: 8px 0;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
}

.tab-header button.active {
  background: linear-gradient(135deg, #155E75, #40adc6);

  color: #fff;
  border: none;
}

.tab-header button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* QR / ShopeePay content */
.tab-content {
  margin-top: 10px;
}

.qr-area, .shopeepay-area {
  padding: 15px;
  border-radius: 12px;
  background: #fdfdfd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.hint {
  font-size: 0.9rem;
  color: #555;
  margin-top: 8px;
}

/* Input & button laporan */
input[type="number"] {
  background: #f7f7f7;
  color: black;
  width: 80%;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  outline: none;
  transition: all 0.3s;
}

input[type="number"]:focus {
  box-shadow: 0 0 8px #40adc6;
}

.report-btn {
  background: linear-gradient(135deg, #155E75, #40adc6);
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.report-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.success {
  color: #28a745;
  font-weight: 500;
  margin-top: 10px;
}



.summary-card {
  background: #f5f8ff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

.summary-card ul {
  list-style: none;
  padding: 0;
}

.summary-card li {
  margin-bottom: 6px;
  font-size: 15px;
}
