body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f7f7f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  margin-top: 20px;
  padding: 16px;
  overflow-y: auto;
}


.page-container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
}
